*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: absolute;
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    /* background: #262635; */
}
.container{
    align-items: center;
    justify-content: center;
}
.mobile-container{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-container .smartphone{
    height: 100vh;
    object-fit: cover;
    /* z-index: 1;  */
}
.screen-container{
    position: absolute;
    background: rgb(243, 250, 255);
    border-radius: 20px;
    width: 22vw;
    height: 86vh;
    margin-right: 5px;
    margin-top: 5px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fbfbfb;
    box-shadow: 0px -2px 3px #d7d7d7;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.footer .footer-content{
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer .footer-content div{
    max-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.footer .footer-content div img{
    height: 25px;
    width: 25px;
}
.footer .footer-content .logo .logo-main{
    width: 45px;
    height: 100%;
}
.footer .footer-content div h4{
    font-size: 0.7em;
    color: #3abacd;
}
.section1{
    position: absolute;
    display: flex;
    background: #35a5b6;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 3px ;
}
.section1 .locationbar{
    position: relative;
    background-color: #35a5b6;
    border: 1.5px solid #fff;
    border-radius: 7px;
    color: #fff;
    height: 80%;
    padding: 2px 5px;
    margin: 0 8px;
    outline: none;
}
.section1 .locationbar::placeholder{
    color: #fff;
    font-weight: 500;
}
.section1 .notification , .location-gps , .shoping-cart{
    margin: 0 5px;
    max-height: 20px;
    cursor: pointer;
}
.section2{
    position: relative;
    padding: 8px 10px;
    display: flex;
    top: 30px;
    width: 100%;
    height: 50px;
    background: #35a5b6;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.section2 .search-bar{
    position: relative;
    display: flex;
    padding: 4px 10px;
    margin: 0 5px;
    background: #fff;
    width: 85%;
    border-radius: 5px;
    flex-direction: row;   
}
.section2 .search-bar .search-icon{
    cursor: pointer;
}
.section2 input{
    border: none;
    outline: none;
    margin-left: 10px;
}
.section2 input::placeholder{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aaa9a9;
}
.section2 .mic{
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}
.section3{
    position: absolute;
    display: flex;
    top: 80px;
    width: 100%;
    height: 160px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    /* background: red; */
}
.section3 .carousel{
    background: #FFF;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4px 4px;
    border-radius: 5px;
}
.section3 .carousel img{
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.section4{
    position: absolute;
    top: 240px;
    /* background: red; */
    width: 100%;
    height: 300px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
}
.section4 .options-container{
    position: relative;
    height: 100%;
    max-width: 100%;
    /* margin: 5px; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 1px #b6c8d685;
}
.section4 .options-container .options{
    position: relative;
    
}
.section4 .options-container .options > div{
    display: flex;
    flex-direction: row;
    max-width: 60px;
    height: 95px;
}
.section4 .options-container .options .o{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5px;
}

.section4 .options-container .options img{
    height: 60px;
    width: 60px;
}
.section4 .options-container .options .opt1 img{
    height: 50px;
    width: 50px;
}
.section4 .options-container .options h5{
    color: #3abacd;
    font-size: 0.6em;
}
